*{
    margin: 0%;
    padding: 0%;
    font-family: 'Courier New', Courier, monospace;
}

:root{
    --azul: #6EB3D0;
    --verde: #B6D7A8;
    --rosa: #F7B6D2;
    --laranja: #F4A623;
    --preto: #000000;
    --branco: #FFFFFF;
}

header{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--azul);
    margin-bottom: 10px;
}
nav{
    gap: 10px;
    display: flex;
}
header nav a{
    font-size: 20px;
    text-decoration: none;
    color: var(--preto);
}

main{
    background-color: var(--branco);
    width: 100%;
}

#banner{
    width: 100%;    
}

#conteudo{
    margin: 40px 0px;
    color: var(--azul);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
#imgs{
    display: flex;
    width: 85%;
    justify-content: center;
}

#paragrafo{
    display: flex;
    width: 80%;
    align-items: center;
    text-align: center;
    font-size: 20px;
}

#catalago{
    margin: 40px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
#catalago h1{
    color: var(--laranja);
}
#catalago section{
    display: flex;
    width: 90%;
    gap: 20px;
}
.produto{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
    padding: 10px;
    border: 1px solid black;
}
.produto p{
    font-size: 14px;
}
.produto h2{
    color: var(--verde);
}
.produto button{
    background-color: var(--rosa);
    border: transparent;
    padding: 10px 15px;
}

#adote{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
#adote h1{
    color: var(--rosa);
}

#login{
    width: 100%;
    display: flex;
    justify-content: space-between;

}
#login div{
    width: 50%;
}
#ladoD_login{
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 15px;
}
#ladoD_login h1{
    font-size: 20px;
    color: #6EB3D0;
}
.input{
    display: flex;
    flex-direction: column;
    text-align: initial;
    gap: 10px;
    width: 100%;
}

.input input{
    border: 1px solid rgb(134, 153, 154);
    border-radius: 5px;
    padding: 10px;
}

#check{
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 13px;
}

#ladoD_login button{
    padding: 8px 24px;
    background-color: #6EB3D0;
    border: transparent;
    border-radius: 5px;
}


footer{
    background-color: var(--azul);
    display: flex;
    justify-content: center;
    padding: 20px;
}